<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>codes.pod.app.rootd</string>
  <key>BundleProgram</key><string>Contents/Resources/claude-acc/pod-rootd</string>
  <key>ProgramArguments</key>
  <array>
    <string>pod-rootd</string>
  </array>
  <key>MachServices</key>
  <dict>
    <key>codes.pod.app.rootd</key><true/>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key><false/>
  </dict>
  <key>ProcessType</key><string>Adaptive</string>
  <key>SpawnConstraint</key>
  <dict>
    <key>team-identifier</key><string>75Y2KR6P5W</string>
    <key>signing-identifier</key><string>codes.pod.rootd</string>
  </dict>
</dict>
</plist>
